<li>
	{{burger_name}}

	<button class="change-burger" data-id="{{id}}" data-neweat="{{devoured}}">
		{{#unless devoured}} devoured{{/unless}} 
	</button>

	{{!-- <button class="delete-burger" data-id="{{this.id}}"> Delete </button> --}}
</li>
