<li>
	{{burger_name}}

	<button class="change-burger" data-id="{{id}}" data-neweat="{{devoured}}">
		{{#if devorued}} EAT!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
